.dashboard{
    width: 100%;
    min-height: 95vh;
    background: #1f1f23;
    display: grid;
    grid-template-columns: 40% 60%;
    color: #eee;
}

@media screen and (max-width: 50rem) {
    .dashboard{
        display: flex;
        flex-direction: column;
    }
}

