.featurePage{
    background: #1f1f23;
    height: 100%;
    width: 100%;
    padding: 10rem;
    color: #fff;
}

.featurePage h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.feature-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 40.5rem){
    .feature-con{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}